/*general*/
:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #49d65c;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/*Nav*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu{
    display: none;
}
.logo-nav{
    width: 100px;
}
.navbar-left ul,
.navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left{
    display: flex;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}
.navbar-email{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin: 12px;
}
.navbar-shopping-cart{
    position: relative;
}
.navbar-shopping-cart div{
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    justify-content: center;
    align-items: center;
}

/*Buttons*/
.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.login-button{
    margin-top: 14PX;
    margin-bottom: 30PX;
}
.secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

/*Forms*/
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.form {
    display: flex;
    flex-direction: column;
}
.form div {
    display: flex;
    flex-direction: column;
}
.form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
.login, .contact {
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
}
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.title{
    font-size: var(--lg);
    margin-bottom: 36px;
    text-align: start;
}
.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.input-name,
.input-email,
.input-password {
    margin-bottom: 22px;
}
/*Contacto*/
.input-comentarios{
    resize: none;
    height: 10rem;
}

/*Inicio*/
.jumbotron{
    background-image:url(../src/img/laundry.jpg);
    background-size: cover;
    filter: brightness(0.9);
    height: 88vh;
    margin-bottom: 0;
}
.jumbotron h1, .jumbotron h2 {
    margin-top: 2vh;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 1px #0f130c,
   -1px -1px 0 #0f130c,  
   1px -1px 0 #0f130c,
   -1px 1px 0 #0f130c,
   1px 1px 0 #0f130c; ;
}
.btn-outline-light{
    border: solid 2px white;
    border-radius: 20px;
    box-shadow: 5px 3px 3px black;
    font-weight: bold;
    margin-top: 15vh;
    padding: 10px;
}
.aboutus-container{
    text-align: justify;
    width: 100%;   
}
.aboutus-container h1,.aboutus-container h3, .missionnvision,.valoresypolidicas{
    text-align: center; 
    padding: 4vh 0;
}
.principal{
    margin: 20vh 0;
    padding: 0vh 20vh;
    line-height: 2.6em;
}
.principal .img-pres{
    width: 450px;
    height: 350px;
    background-size: cover;
    border-radius: 5%;
    margin-top: 8vh;
}
.mision, .vision, .valoresypoliticas{
    padding: 0 8vh;
    height: 68vh;
    color: #fff;
    font-weight: bolder;
}
.mision h2, .vision h2, .valoresypoliticas h2{
    text-align: center;
    padding-bottom: 4vh;
}
.mision{
    background-color: #3774ed;
}
.vision{
    background-color: #82bc00;
}
.valoresypoliticas{
    background-color: #d88d00;
}
.valoresypoliticas ul{
    list-style:disc;
}.valoresypoliticas ul li{
    margin-bottom: 2vh;
}


/*productos*/
.subscription-title{
    text-align: center;    
    padding-top: 4vh;
}
.cards-container{
    padding-top: 4vh;
}
.card-p{
    border: solid 2px var(--hospital-green);
    border-radius: 20px;
    text-align: center;
}
.card-title {
    padding: 50px 0;
}
.card-price, .card-benefits{
    padding-bottom: 50px;
}

.footer{
    height: 34vh;
    background-color: #1a95fc;
    text-align: center; 
    color: #fff;
    font-weight: bolder;
    padding: 4vh 0;
}

@media(max-width: 640px){
    .menu{
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
    .form-container{
        height: 100%;
    }
    .form{
        height: 100%;
        justify-content: space-between;
    }
    .logo {
        display: block;
        }
}
