* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer base {
    @font-face {
        font-family: PoppinsMedium;
        src: url(../static/fonts/Poppins-Medium.woff2) format('woff2');
    }
    @font-face {
        font-family: PoppinsBold;
        src: url(../static/fonts/Poppins-Bold.woff2) format('woff2');
    }
    @font-face {
      font-family: Satoshi;
      src: url(../static/fonts/Satoshi-Regular.woff2) format('woff2');
    }
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #0F74BA;
  border-radius: 20px;
  border: 3px solid white; 
}

::selection {
  background: #0F74BA;
  color: white;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 20;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #000;
    text-decoration: none;
    font-family: PoppinsMedium;
    list-style: none;
  }
  
  .menu:hover a {
    opacity: 0.4;
  }
  
  .menu a:hover {
    opacity: 1;
    color: #0F74BA;
  }
  
  .menu-icon {
    display: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }
  
  @media only screen and (max-width: 950px) {
    .menu {
      flex-direction: column;
      background-color: #fff;
      margin-top: 24px;
      align-items: start;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  
    .menu a {
      margin-left: 12px;
    }
  
    .menu li {
      margin-bottom: 10px;
    }
  
    .menu-icon {
      display: block;
      color: #000;
      font-size: 28px;
      cursor: pointer;
    }
  }

  /* Laundry Section */
  
.laundry {
    background: url(../static/laundry.jpg) no-repeat;
    width: 100%;
    display: table;
    height: 100vh;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.laundry-black {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.laundry-Ch6Q9i {
  padding-top: 6rem;
  padding-bottom: 2rem;
  overflow: hidden;
  z-index: 10;
}

.laundry-spn2H2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding: 0 1rem 0 1rem;
}

.laundry-AWKiao {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.laundry-T63LFq {
  position: relative;
  z-index: 10;
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
  grid-column: span 6 / span 6;
}

.laundry-ps4EEI {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.primary-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.2));
  justify-items: center;
  font-size: 24px;
  font-weight: 32px;
  padding-bottom: 0.75rem;
  height: 100%;
  font-family: PoppinsBold;
  color: white;
  letter-spacing: -0.025em;
  text-align: center;
}

.secondary-title {
  padding-top: 0.75rem;
}

.subtitle {
  font-size: 18px;
  line-height: 28px;
  font-family: PoppinsMedium;
  letter-spacing: 0.025em;
  padding-top: 24px;
}

.border-button {
  border: #fff solid 1px;
  border-radius: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 40px;
  cursor: pointer;
  width: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(12px);
}

.border-button:hover {
  background-color: #fff;
  color:#000;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.about-link {
  color: white;
  display: inline-flex;
  user-select: none;
  text-align: center;
  font-family: PoppinsMedium;
  margin-top: 4px;
  font-size: 16px;
  line-height: 24px;
}

.about-link:hover {
  color: black;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

}

.link {
	cursor: pointer;
	font-weight: 400;
	text-decoration: none;
  }
  
  .link--arrowed {
	height: 2rem;
	line-height: 2rem;
  }
  .link--arrowed .arrow-icon {
	position: relative;
	top: -1px;
	transition: transform 0.3s ease;
	vertical-align: middle;
  }
  .link--arrowed:hover .arrow-icon {
	transform: translate3d(5px, 0, 0);
    color: currentColor;
  }

  .link--arrowedd:hover .arrow-icon {
    transform: translate3d(3px, 0, 0);
      color: currentColor;
      transition: transform 0.3s ease;
  }

  /* mediaqueries of Laundry section */

@media (min-width: 640px) {
  .laundry-spn2H2 {
    padding: 0 1.5rem 0 1.5rem;
  }

  .laundry-T63LFq {
    padding: 0 1.5rem 0 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .primary-title {
    margin-top: 20px;
  }

  .about-link {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: 1024px){
  .laundry-AWKiao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

  }

  .laundry-T63LFq {
    margin-bottom: 0px;
    padding: 0 0 0 0;
    display: flex;
  }

  .laundry-ps4EEI {
    padding-top: 8rem;
    padding-bottom: 8rem;

  }

  .primary-title {
    font-size: 60px;
    line-height: 1;
  }
}

/* Feel Section */

.feel {
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feel-hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding: 0 1rem 0 1rem;
}

.feel-05RGdi {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.feel-2wVgT6 {
  position: relative;
  z-index: 10;
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
  grid-column: span 6 / span 6;
}

.feel-VNYeC6 {
  margin-top: 12px;
  font-family: PoppinsBold;
  max-width: 32rem;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #0F74BA;
}

.feel-AvFNg5 {
  margin-top: 12px;
  font-family: Satoshi;
  font-size: 16px;
  line-height: 24px;
  color: #212529
}

.divider {
  padding-top: 8px;
  width: 124px;
  user-select: none;
}

.feel-by7lvK {
  display: flex;
  margin-left: 1rem;
  margin-top: 12px;
}

.five-stars {
  user-select: none;
  width: 50px;
}

.feel-B61sTw {
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
  z-index: 20;
}

.feel-tgVP4P {
  color: #0F74BA;
  display: flex;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 28px;
}

.feel-A6EdiW {
  color: #212529;
  text-align: left;
  font-family: Satoshi;
  font-size: 16px;
}

.feel-43huuL {
  display: flex;
  margin-left: 1rem;
  margin-top: 12px;
  margin-bottom: 40px;
}

.feel-Y0XDT2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feel-9V3X5c {
  border: #0F74BA solid 2px;
  text-align: center;
  border-radius: 42px;
  user-select: none;
  padding: 8px 28px 8px 28px;
  font-family: PoppinsBold;
  font-size: 16px;
  text-decoration: none;
  color: #0F74BA;
}

.feel-9V3X5c:hover {
  background-color: #0F74BA;
  color: #fff;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.feel-1hiVHl {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feel-KP0v5x {
  position: relative;
  z-index: -20;
}

.feel-nojBNA {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 24px;
  padding-right: 24px;
  user-select: none;
  z-index: 20;
}

.dry-clothes {
  width: 550px;
  user-select: none;
}

.feel-fbEFIA {
  position: relative;
  bottom: 24rem;
  width: 5rem;
  height: 5rem;
  left: 0;
  background: linear-gradient(to right, #015EEA, #00C0FA);
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.2;
  z-index: -20;

}

/* Mediaqueries of Feel section */

@media (min-width: 640px) {
  .feel-hero {
    padding: 0 1.5rem 0 1.5rem;
  }
  
  .feel-2wVgT6 {
    padding: 0 1.5rem 0 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .feel-VNYeC6 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .feel-AvFNg5 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 32rem;
    text-align: center;
    margin-top: 20px;
  }

  .feel-nojBNA {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 48px;
    padding-right: 48px;
    width: 256px;
  }
}

@media (min-width: 768px) {
  .feel-by7lvK {
    margin-left: 0px;
    margin-top: 40px;
  }

  .feel-43huuL {
    margin-left: 0px;
    margin-top: 40px;
  }

  .feel-Y0XDT2 {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .feel-KP0v5x {
    position: absolute;
  }

  .feel-nojBNA {
    display: none;
  }

  .feel-fbEFIA {
    position: absolute;
  }
}

@media (min-width: 1024px) {
  .feel-05RGdi {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 4rem;
  }

  .feel-2wVgT6 {
    margin-bottom: 0px;
    padding: 0 0 0 0;
    display: flex;
    text-align: left;
  }

  .feel-OIhezP {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .feel-VNYeC6 {
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
    font-size: 36px;
    line-height: 40px;
  }

  .feel-AvFNg5 {
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
  }

  .feel-1hiVHl {
    justify-content: flex-start;
  }

  .feel-nojBNA {
    width: 700px;
    display: block;
  }

  .feel-fbEFIA {
    bottom: 40px;
    width: 18rem;
    height: 16rem;
    left: -600px;
  }
}

/* Services section */

.services {
  background: transparent url(../static/bubbles.jpg) no-repeat;
  width: 100%;
  display: table;
  height: 70vh;
  text-align: center;
  background-size: cover;
  z-index: -1;
}

.services-black {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-YWo4aP {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services-U6do2C {
  max-width: 384px;
  background-color: white;
  border: lightgray solid 1px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  gap: 1rem;
}

.dry-cleaner {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  user-select: none;
  width: 383px;
}

.services-zv3zck {
  padding: 20px;
}

.services-QUx37W {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  font-family: PoppinsBold;
  color: #0F74BA;
  letter-spacing: -0, 025em;
}

.services-FdadvS {
  margin-bottom: 12px;
  font-family: Satoshi;
  color: #212529;
}

.services-tEY3fd {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  line-height: 20px;
  font-family: PoppinsMedium;
  user-select: none;
  text-align: center;
  border: #0F74BA solid 2px;
  color: #0F74BA;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: 8px;
}

.services-tEY3fd:hover {
  background-color: #0F74BA;
  color: #fff;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.services-I9zo7F {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-right: -4px;
}

/* mediaqueries de Services section */

@media (min-width: 640px) {
  .services-YWo4aP {
    flex-direction: row;
  }
}

/* Testimonials section */

.testimonials-vkQGOr {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 16px;
  padding-right: 16px;
}

.testimonials-xBSyUX {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #0F74BA;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.2));
  letter-spacing: -0.025em;
  font-family: PoppinsBold;
  padding-top: 64px;
}

.testimonials-fDJnJt {
  font-size: 18px;
  line-height: 28px;
  font-family: Satoshi;
  text-align: center;
  margin-top: 20px;
}

.testimonials-cwPWLZ {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.testimonials-alixmL {
  border-radius: 8px;
  background-color: #f3f4f6;
  padding: 2rem;
}

.testimonials-FA3Pe7 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonials-Ed9AdK {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonials-C4pwI {
  display: flex;
  justify-content: center;
  gap: 2px;
  color: #0F74BA;
}

.testimonials-mZhFn4 {
  width: 16px;
  height: 16px;
}

.testimonials-VolLNk {
  margin-top: 4px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-family: PoppinsMedium;
  color: #212529;
}

.testimonials-JtgXCc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: Satoshi;
  margin-top: 1rem;
  color: #6b7280;
}

/* mediaqueries of Testimonials section */

@media (min-width: 640px) {
  .testimonials-vkQGOr {
    padding: 6rem 1.5rem 6rem 1.5rem;
  }

  .testimonials-xBSyUX {
    font-size: 48px;
    line-height: 1;
  }

  .testimonials-JtgXCc {
    overflow: visible;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: none;
  }
}

@media (min-width: 768px) {
  .testimonials-cwPWLZ {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .testimonials-vkQGOr {
    padding: 0 2rem 0 2rem;
  }
}

/* Comments form section */

.comments-form {
  color: #0F74BA;
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.comments-form::before {
  position: absolute;
  content: "";
  z-index: -10;
  height: 100%;
  width: 120%;
  left: -25%;
  opacity: 40%;
  background: url(../static/noise.webp) repeat,linear-gradient(247.23deg,#184fd9 0%, #0F74BA 100%);
  background-blend-mode: overlay;
  -webkit-mask-image: radial-gradient(rgba(0,0,0,.7),transparent 70%);
}

.comments-HSwBTR {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
}

.comments-2IIacT {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}

.comments-udiASG {
  font-size: 36px;
  line-height: 40px;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.2));
  font-family: PoppinsBold;
  letter-spacing: 0;
  padding: 1rem;
  margin-top: 10rem;
}

.comments-lMq3mt {
  color: #212529;
  font-size: 14px;
  line-height: 20px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-family: Satoshi;
}

.comments-nd8ckV {
  color: #212529;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-family: Satoshi;
}

.comments-cumbBQ {
  margin-left: auto;
  margin-right: auto;
}

.comments-LXFm0f {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.comments-6xJFPJ {
  padding: 8px;
  width: 100%;
}

.comments-RwbXJ4 {
  position: relative;
}

.comments-Gdedzz {
  width: 100%;
  background-color: #f3f4f6;
  border-radius: 4px;
  border: 1px solid rgb(209, 213, 219);
  height: 40px;
  font-size: 20px;
  line-height: 28px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 32px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-family: PopppinsMedium;
}

.comments-Gdedzz2 {
  width: 100%;
  background-color: #f3f4f6;
  border-radius: 4px;
  border: 1px solid rgb(209, 213, 219);
  height: 128px;
  font-size: 20px;
  line-height: 28px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 32px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-family: PopppinsMedium;
}


.comments-Gdedzz:focus {
  border-color: #0F74BA;
}

.comments-daCavu {
  line-height: 28px;
  font-size: 20px;
  color: #212529;
  font-family: PoppinsMedium;
}

.comments-MvRVvw {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #0F74BA;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 42px;
  user-select: none;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: #0F74BA;
  font-family: PoppinsBold;
}

.comments-MvRVvw:hover {
  background-color: #0F74BA;
  color: #fff;
}

.comments-zJoLgJ {
  padding: 8px;
  width: 100%;
}

/* mediaqueries of Comments form section */

@media (min-width: 640px) {
  .contact-HSwBTR {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .contact-HSwBTR {
    max-width: 768px;
  }

  .comments-cumbBQ {
    width: 66.6667%;
  }
}

@media (min-width: 1024px) {
  .comments-udiASG {
    font-size: 60px;
    line-height: 1
  }

  .comments-lMq3mt {
    font-size: 20px;
    line-height: 28px;
  }

  .comments-nd8ckV {
    padding-left: 11rem;
    padding-right: 11rem;
    font-size: 20px;
    line-height: 28px;
  }

  .comments-cumbBQ {
    width: 50%;
  }
}

/* Footer section */

.footer-9XOR03 {
  background-color: white;
  border-top-width: 2px;
  border-color: #f3f4f6;
}

.footer-xlE1cw {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-7GIQa3 {
  margin-bottom: 24px;
}

.footer-8eXE9L {
  height: 128px;
  margin-right: 12px;
  user-select: none;
}

.footer-loQjmt {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.footer-oTja34 {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 20px;
  font-family: PoppinsBold;
  color: black;
  text-transform: uppercase;
}

.footer-x4jPXX {
  color: #4b5563;
  font-family: PoppinsMedium;
  list-style: none;
}

.footer-bzqNFA {
  margin-bottom: 1rem;
  text-decoration: none;
  color: black
}

.footer-tCldzq {
  text-decoration: none;
  list-style: none;
  color: #000;
}

.footer-tCldzq:hover {
  text-decoration: underline;
}

.footer-qnfHB0 {
  margin-top: 24px;
  margin-bottom: 24px;
  border-color: #e5e7eb;
}

.footer-wdN3JK {
  font-size: 14px;
  font-family: PoppinsMedium;
  color: black;
  text-decoration: underline;
  text-decoration-color: burlywood;
  text-decoration-thickness: 2px;
  transition-duration: 200ms;
}

.footer-wdN3JK:hover {
  text-decoration-color: #2563eb;
}

/* mediaqueries of Footer section */

@media (min-width: 640px) {
  .footer-loQjmt {
    gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .footer-qnfHB0 {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-ApYPgx {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .footer-YYWlWo {
    display: flex;
    justify-content: space-between;
  }

  .footer-7GIQa3 {
    margin-bottom: 0px;
  }
}

@media (min-width: 1024px) {
  .footer-xlE1cw {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-qnfHB0 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

/*services*/
.services-container{
  padding-top: 20vh;
  padding-bottom: 15vh;
}

.subscription-title{
  padding-bottom: 8vh;
  line-height: 3.5em;
}

.subscription-title h3{
  font-family: PoppinsBold;
  font-size: 48px;
  color: #0F74BA;
}
.subscription-title p{
  margin-top: 24px;
  font-family: Satoshi;
  font-size: 24px;
  line-height: 24px;
  color: #212529
}

.card-p{
  border: solid 2px #0F74BA;
  padding: 48px 32px 48px 32px;
  border-radius: 24px;
}
.card-benefits ul{
  list-style-image:url(../src/icon/check_yes.svg);
}
.suscribe-button{
  display: inline-flex;
  align-items: center;
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  line-height: 20px;
  font-family: PoppinsMedium;
  user-select: none;
  text-align: center;
  border: #0F74BA solid 2px;
  color: #0F74BA;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: 8px; 
}
.suscribe-button{
  background-color: #0F74BA;
  color: #fff;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/*login*/
.login-container{
  padding-top: 20vh;
  padding-bottom: 15vh;
}
.login-title{
  font-family: PoppinsBold;
  font-size: 2.5em;
  color: #0F74BA;
}
.login-subtitle{
  width: 100%;
  font-family: Satoshi;
  font-size:1.6em;
  line-height: 24px;
  color: #212529;
  padding-bottom: .5em;
}
.form-login-container .logo{
  height: 16vh;
}
.form-login-container label{
  margin-top: 8vh;
}
.form-login-container .input-login{
  border: solid 3px #1e94e955;
  border-radius: 4px;
  width: 60%;
  height: 5vh;
  text-align: center;
  font-size: 1.2em;
}
.button-login{
  display: inline-flex;
  align-items: center;
  padding: 8px 12px 8px 12px;
  font-size: 1.2em;
  line-height: 20px;
  font-family: PoppinsMedium;
  user-select: none;
  text-align: center;
  border: #0F74BA solid 2px;
  color: #0F74BA;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: 8px; 
}
.button-login{
  background-color: #0F74BA;
  color: #fff;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.forgot-pass{
  display: block;
  margin-top: 4vh;
}
.signup-button{
  background-color: #fff;
  color: #0F74BA;
  margin: 6vh 0 4vh;
}
/*CRUD*/
